<p id="notice"><%= notice %></p>

<h1>ユーザ一覧（あとで翻訳入れる）</h1>

</table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to '編集', edit_user_registration_path %><br></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
